<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10940_grover_grocery_food_delivery_website</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">

    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/assets/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/assets/js/modernizr-2.6.2.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--Registration-->
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!--Registration End-->



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">

    <style>
        .footerbtn {
            display: block;
            background: var(--bg3);
            border-radius: 12px;
            width: 150px;
            padding: 10px 10px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 10px;
            line-height: 10px;
            border: 1px solid transparent;
            color: #FFFAFA !important;
        }
        #drop {
            background-color: white;
            color: Black;
            padding: 10px;
            color: #F55253 !important;
            margin: 0 16px;
        }

        #drop-down {
            position: relative;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }

        #dropdown-menu {
            display: none;
            position: absolute;
            background-color: ghostwhite;
            width: 160px;
            margin-left: -45px;
            border-radius: 5px;
            z-index: 1;
        }

            #dropdown-menu a {
                color: black;
                padding: 7px 7px;
                text-decoration: none;
                display: block;
            }






        #drop-down:hover #dropdown-menu {
            display: block;
        }
    </style>
</head>

<body>
    <!-- Header Grover Grocery Section --
        <!-- Navbar -->
    <nav class="navbar navbar-expand-sm  ">
        <div style="padding-left:50px;">
            <img src="~/assets/images/catering logo.jpg" alt="Logo" height="50" width="50" />
        </div>
        <button class="navbar-toggler _toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item _grover_grocery_list_item">
                    <a class="nav-link _grover_grocery_list_link" href="@Url.Action("Menu","Home")" tabindex="-1" aria-disabled="true">Menu</a>
                </li>
                <li class="nav-item _grover_grocery_list_item">
                    <a class="nav-link _grover_grocery_list_link" href="@Url.Action("Services","Home")" tabindex="-1" aria-disabled="true">Services</a>
                </li>
                <li class="nav-item _grover_grocery_list_item">
                    <a class="nav-link _grover_grocery_list_link" href="@Url.Action("Contact","Home")" tabindex="-1" aria-disabled="true">Contact</a>
                </li>
                <li class="nav-item _grover_grocery_list_item">
                    <a class="nav-link _grover_grocery_list_link" href="@Url.Action("Login","Account")" tabindex="-1" aria-disabled="true">Login</a>
                </li>
                <li id="drop-down" style=" ">
                    <a class="drop nav-link _grover_grocery_list_link">MyProfile</a>
                    <div id="dropdown-menu">
                        <a href="">My Orders</a>
                        <a href="">Logout</a>
                    </div>
                </li>
                <li class="nav-item _grover_grocery_list_item">
                    <a href="#">
                        <img src="~/assets/images/wish.png" class="nav-link _grover_grocery_list_link" alt="Logo" height="35" width="45" />
                    </a>
                </li>
                <li class="" style="padding-left:10px">
                    <form class="_nav_search_form">
                        <span class="_search_ic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
                                <path fill="#8B8B8B" d="M15.212 14.573l-3.808-3.96A6.44 6.44 0 0012.92 6.46 6.467 6.467 0 006.46 0 6.467 6.467 0 000 6.46a6.467 6.467 0 006.46 6.46 6.39 6.39 0 003.701-1.169l3.837 3.99a.838.838 0 001.191.023.844.844 0 00.023-1.19zM6.46 1.685a4.78 4.78 0 014.775 4.775 4.78 4.78 0 01-4.775 4.775A4.78 4.78 0 011.685 6.46 4.78 4.78 0 016.46 1.685z" />
                            </svg>
                        </span>
                        <input class="_nav_search_input" type="text" placeholder="Search">
                        <span class="_cart_ic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
                                <path fill="#3C3737" fill-rule="evenodd" d="M1.014 10.084a.464.464 0 01.45-.576h21.072c.302 0 .523.283.45.576L20.059 21.79a.927.927 0 01-.9.703H4.84a.927.927 0 01-.9-.703L1.015 10.084zm11.736 3.541a.75.75 0 00-1.5 0v4.75a.75.75 0 001.5 0v-4.75zm4.319-.561a.75.75 0 01.448.961l-1.624 4.464a.75.75 0 11-1.41-.513l1.625-4.464a.75.75 0 01.96-.448zm-9.177.448a.75.75 0 10-1.41.513l1.625 4.464a.75.75 0 101.41-.513l-1.625-4.464z" clip-rule="evenodd" />
                                <path stroke="#3C3737" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.5 10.5l-4.911-6.422a2 2 0 00-3.178 0L5.5 10.5" />
                            </svg>
                        </span>
                    </form>

                    @*<li class="nav-item  _grover_grocery_list_item">
                            <a class="nav-link _grover_grocery_list_link">MyProfile</a>
                            <ul class="dropdown">
                                <li><a href="#">Food Catering</a></li>
                                <li><a href="#">Wedding Celebration</a></li>
                                <li><a href="#">Birthday's Celebration</a></li>
                            </ul>
                        </li>*@

            </ul>
            @*<ul class="_search_btn_list">
                    <li class="_search_btn_list_item">
                        <form class="_nav_search_form">
                            <span class="_search_ic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
                                    <path fill="#8B8B8B" d="M15.212 14.573l-3.808-3.96A6.44 6.44 0 0012.92 6.46 6.467 6.467 0 006.46 0 6.467 6.467 0 000 6.46a6.467 6.467 0 006.46 6.46 6.39 6.39 0 003.701-1.169l3.837 3.99a.838.838 0 001.191.023.844.844 0 00.023-1.19zM6.46 1.685a4.78 4.78 0 014.775 4.775 4.78 4.78 0 01-4.775 4.775A4.78 4.78 0 011.685 6.46 4.78 4.78 0 016.46 1.685z" />
                                </svg>
                            </span>
                            <input class="_nav_search_input" type="text" placeholder="Search">
                            <span class="_cart_ic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
                                    <path fill="#3C3737" fill-rule="evenodd" d="M1.014 10.084a.464.464 0 01.45-.576h21.072c.302 0 .523.283.45.576L20.059 21.79a.927.927 0 01-.9.703H4.84a.927.927 0 01-.9-.703L1.015 10.084zm11.736 3.541a.75.75 0 00-1.5 0v4.75a.75.75 0 001.5 0v-4.75zm4.319-.561a.75.75 0 01.448.961l-1.624 4.464a.75.75 0 11-1.41-.513l1.625-4.464a.75.75 0 01.96-.448zm-9.177.448a.75.75 0 10-1.41.513l1.625 4.464a.75.75 0 101.41-.513l-1.625-4.464z" clip-rule="evenodd" />
                                    <path stroke="#3C3737" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.5 10.5l-4.911-6.422a2 2 0 00-3.178 0L5.5 10.5" />
                                </svg>
                            </span>
                        </form>
                    </li>
                </ul>*@
        </div>
    </nav>
    <!-- Navbar Ends -->


    <div>
        @RenderBody();
    </div>

    <!-- Footer Grover Grocery Section -->
     <footer class="_footer_grover_grocery_wrapper">
                    <div class="_footer_grover_grocery_wrap">
                        <div class="container">
                            <div class="_footer_grover_grocery_top">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <div class="_footer_grover_grocery_logo_wrap">
                                            <div class="_footer_grover_grocery_logo">
                                                <img src="~/assets/images/catering logo.jpg" alt="logo" class="_footer_logo_img">
                                            </div>
                                            <div class="_footer_grover_grocery_content_logo">
                                                <p class="_footer_grover_grocery_content_logo_txt">Fast delivery, which is active all over the world, serves with many transportation vehicles.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                        <div class="_footer_grover_grocery_content_wrap">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                                    <div class="_footer_grover_grocery_content">
                                                        <h4 class="_footer_grover_grocery_content_title">Company</h4>
                                                        <div class="_footer_grover_grocery_content_list">
                                                            <ul class="_footer_grover_grocery_list">
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">About Us</a>
                                                                </li>
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">Blog</a>
                                                                </li>
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">All Products</a>
                                                                </li>
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">Locations Map</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                                    <div class="_footer_grover_grocery_content">
                                                        <h4 class="_footer_grover_grocery_content_title">Services</h4>
                                                        <div class="_footer_grover_grocery_content_list">
                                                            <ul class="_footer_grover_grocery_list">
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">Order tracking</a>
                                                                </li>
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">Wish List</a>
                                                                </li>
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">My account</a>
                                                                </li>
                                                                <li class="_footer_grover_grocery_list_item">
                                                                    <a href="#0" class="_footer_grover_grocery_list_link">Terms & Conditions</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                                    <div class="_footer_grover_grocery_content">
                                                        @* <h4 class="_footer_grover_grocery_content_title">Get in Touch</h4>*@
                                                        @* <div class="_footer_grover_grocery_content">
            <p class="_footer_grover_grocery_content_txt">Subscribe to our weekly Newsletter and receive updates via email.</p>
        </div>*@
                                                        <h3 class="_footer_grover_grocery_content_title">Receive exclusive offers <br />in your mailbox</h3><br />
                                                        <div class="row input-group-icon mb-5">
                                                            <div>
                                                                <div class="col-auto">
                                                                    @* <i class="fas fa-envelope input-box-icon text-500 ms-3"></i>*@
                                                                    <input class="form-control border-0 " style="font-size:15px" type="email" placeholder="Enter Email" aria-label="email" /><br />
                                                                </div>
                                                                <div class="col-auto">
                                                                    <button class="footerbtn" type="submit">Subscribe</button>



                                                                </div>
                                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_footer_grover_grocery_bottom">
                        <hr class="_footer_divider">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="_footer_grover_grocery_copyright">
                                    <p class="_footer_grover_grocery_copyright_txt">All Rights Reserved &copyEpam 2022</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="_footer_grover_grocery_condition">
                                    <p class="_footer_grover_grocery_condition_txt">
                                        <a href="" class="_footer_grover_grocery_condition_link">
                                            Terms & Conditions
                                        </a>
                                    </p>
                                    <p class="_footer_grover_grocery_condition_txt">
                                        <a href="" class="_footer_grover_grocery_condition_link">
                                            Privacy & Policy
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </footer>



    <!-- Footer Grover Grocery Section Ends -->
    <!-- Bootstrap -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/Content/js/jquery.countTo.js"></script>

    <!-- Stellar Parallax -->
    <script src="~/Content/js/jquery.stellar.min.js"></script>

    <!-- Magnific Popup -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/magnific-popup-options.js"></script>

    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker.min.js"></script>


    <!-- Main -->
    <script src="~/Content/js/main.js"></script>

</body>

</html>